/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 60px 0;
    }
    .welcome-content h3 {
        font-size: 36px;
    }
    .welcome-content h1 {
        font-size: 50px;
    }
    .section-title {
        margin-bottom: 50px;
        text-align: center;
    }
    .section-title h1 {
        font-size: 36px;
    }
    
    .author-about-right {
        margin-top: 30px;
    }
    .author-about-right h2{
        font-size: 22px;
    }
    .single-service-item {
        margin-top: 3rem;
    }
    #clients .col-md-4 {
        border: 0;
    }
    .social-links li a i {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .single-contact-box i {
        font-size: 20px;
    }
    #contactForm {
        margin-top: 20px;
    }
    #contact .form-group input,
    #contact .form-group textarea {
        padding: 14px;
    }







}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}